.container{
    width:100%;
    background-color: rgba(240, 239, 239, 0.767);
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border:1px solid rgb(161, 161, 161);
}
.text{
    margin: 12px 0 ;
}

